@import '~assets/scss/var';
@import '~assets/scss/color';
@import '~assets/scss/mixin';

.container {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	.card {
		width: 440px !important;
		height: 480px;
		display: flex;
		flex-direction: column;
		align-items: center;
		border: 1px solid$grey-300;
		box-shadow: $shadow-1db;

		.card-header {
			width: 100%;
			border-bottom: 1px solid$grey-300;

			.card-inner {
				margin: 12px 16px;
				font-size: 20px;
				line-height: 28px;
			}
		}
		.card-body {
			flex: 1;
			width: 100%;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: center;
			padding-top: 3 * $gutter;

			.login-icon {
				margin-bottom: 2 * $gutter;
			}
			.form {
				width: calc(100% - 4 * #{$gutter});
				.login-btn {
					background-color: $teal-300;
					color: $white;
				}
			}
		}
	}
}
.form {
	display: flex;
	flex-direction: column;
}
.form-control {
	width: calc(100% - 2 * #{$gutter});
	height: 36px;
	padding: 0 $gutter;
	line-height: 36px;
	font-size: $supplement;
	margin-bottom: .6 * $gutter;
}
.btn {
	&:focus {
		outline: none;
	}
	&:hover {
		background-color: hsla(0, 0%, 60%, .2);
	}
	min-width: 88px;
	min-height: 36px;
	padding: 0 16px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	overflow: hidden;
	user-select: none;
	cursor: pointer;
	background: none;
	border: 0;
	border-radius: 2px;
	color: $grey-900;
	font-size: 14px;
	font-weight: 500;
	transition: all .4s cubic-bezier(.25, .8, .25, 1);
}
